<<<<<<< HEAD
<h1 align="center">Editar uma publicação existente</h1>
=======
<h1 align="center">Edit existing article</h1>
>>>>>>> 491a24b1fe80297020f4ff1c15f01387fb7f2b88

<%=render 'form' %> <!-- shared/ se o arquivo estiver em outra pasta -->
<%= link_to 'Back', articles_path %>