<h1 align="center">LISTA DE TODOS ARTIGOS</h1>
<<<<<<< HEAD
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>
=======

<%= render 'article', obj: @articles %>

>>>>>>> 491a24b1fe80297020f4ff1c15f01387fb7f2b88
