<<<<<<< HEAD
<h1 align="center">Criar uma publicação</h1>
=======
<h1 align="center">Create an Article</h1>
>>>>>>> 491a24b1fe80297020f4ff1c15f01387fb7f2b88

<%=render 'form' %> <!--shared/ se o arquivo estiver em outra pasta -->

