<div class="container">
  <footer class="footer">
    <small>
<<<<<<< HEAD
      Copyright &copy; <a href="http://1.bp.blogspot.com/-xsu6DolYU40/Tdv8XmoSV_I/AAAAAAAABGo/tJSPp3LggyY/s1600/formiga.jpg" target="_blank">Formiguinha Inc.</a> by Rudinei Silva
    </small>
    <nav>
      <ul>
        <li><a href="https://www.facebook.com/fernanda.oliveira.ufpel" target="_blank">[Sobre a Fernanda] </a></li>
=======
      Copyright &copy; <a href="https://www.google.com">Google World</a> by Rudinei Silva
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
>>>>>>> 491a24b1fe80297020f4ff1c15f01387fb7f2b88
      </ul>
    </nav>
  </footer>
</div>