<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://1.bp.blogspot.com/-xsu6DolYU40/Tdv8XmoSV_I/AAAAAAAABGo/tJSPp3LggyY/s1600/formiga.jpg" target="_blank">Formiguinha Inc.</a> by Rudinei Silva
    </small>
    <nav>
      <ul>
        <li><a href="https://www.facebook.com/fernanda.oliveira.ufpel" target="_blank">[Sobre a Fernanda] </a></li>
      </ul>
    </nav>
  </footer>
</div>